<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="so101">

  <!-- 硬件类型：mock_components(mock) / gazebo(Gazebo Classic 仿真) -->
  <xacro:arg name="ros2_control_hardware_type" default="mock_components"/>

  <!-- Import descriptions -->
  <xacro:include filename="$(find so101_moveit_gazebo)/urdf/so101_description.xacro"/>
  <xacro:include filename="$(find so101_moveit_gazebo)/urdf/so101.ros2_control.xacro"/>
  <xacro:include filename="$(find so101_moveit_gazebo)/urdf/so101_hand.ros2_control.xacro"/>

  <!-- 机器人本体（公共描述） -->
  <xacro:so101_description/>

  <!-- ros2_control arm (5 joints) + hand (gripper) -->
  <xacro:so101_ros2_control name="SO101MockSystem" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>
  <xacro:so101_hand_ros2_control name="SO101HandMockSystem" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>

</robot>
